<div class="tx-card card">
  <div class="form-check form-check-inline">
    <input class="form-check-input tx-checkbox" type="checkbox" [(ngModel)]="tx.isTxSelected" (change)="checkTx($event)" id="txCheck">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-8 col-8">
          <h4 class="card-title">{{tx.name}}
            <span class="badge badge-pill badge-secondary" *ngIf="tx.pending">&nbsp;Pending</span>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">
            <i class="fa fa-calendar"></i> {{tx.date | amDateFormat:'LL'}}
          </h6>
          <span class="badge badge-pill badge-primary" *ngFor="let category of tx.category" (click)="filterCategory(category)">{{category}}</span>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-4">
          <h2 class="tx-amount card-title">{{tx.amount | currency}}</h2>
          <button class="btn btn-outline-primary" (click)="openTransaction(tx)">Open Transaction</button>
        </div>
      </div>
    </div>
  </div>
</div>
