<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bank Me</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="banner">
    <h1>Bank Me</h1>
    <p id="intro">
      This is an application that uses Plaid to parse account details so that transactions can be exported to Google Sheets.
    </p>
  </div>

  <div id="container">
    <button id="link-btn">Link Bank Account</button>
  </div>

  <div id="app">
    <div class="box">
      <button id="get-accounts-btn">Get Accounts</button>
      <div id="get-accounts-data"></div>
    </div>

    <div class="box">
      <button id="get-transactions-btn">Export Transactions</button>
      <div id="get-transactions-data"></div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
    (function ($) {
      $('#container').fadeOut('fast', function () {
        $('#app').fadeIn('slow');
      });
      var handler = Plaid.create({
        apiVersion: 'v2',
        clientName: 'Bank Me',
        env: '<%= PLAID_ENV %>',
        product: ['auth', 'transactions'],
        key: '<%= PLAID_PUBLIC_KEY %>',
        onSuccess: function (public_token) {
          $.post('/get_access_token', {
            public_token: public_token
          }, function () {
            $('#container').fadeOut('fast', function () {
              $('#app').fadeIn('slow');
            });
          });
        },
      });

      $('#link-btn').on('click', function (e) {
        handler.open();
      });

      $('#get-accounts-btn').on('click', function (e) {
        $.get('/accounts', function (data) {
          $('#get-accounts-data').slideUp(function () {
            var html = '';
            data.accounts.forEach(function (account, idx) {
              html += '<div class="inner">';
              html += '<strong>' + account.name +
                ' $' + (account.balances.available != null ? account.balances.available : account.balances
                  .current) + '</strong><br>';
              html += account.subtype + ' ' + account.mask;
              html += '</div>';
            });

            $(this).html(html).slideDown();
          });
        });
      });

      $('#get-transactions-btn').on('click', function (e) {
        $.post('/transactions', function (data) {
          if (data.error != null) {
            // Format the error
            var errorHtml = '<div class="inner"><p>' +
              '<strong>' + data.error.error_code + ':</strong> ' +
              data.error.error_message + '</p></div>';

            if (data.error.error_code === 'PRODUCT_NOT_READY') {
              // Add additional context for `PRODUCT_NOT_READY` errors
              errorHtml += '<div class="inner"><p>The PRODUCT_NOT_READY ' +
                'error is returned when a request to retrieve Transaction data ' +
                'is made before Plaid finishes the <a href="https://plaid.com/' +
                'docs/quickstart/#transaction-data-with-webhooks">initial ' +
                'transaction pull.</a></p></div>';
            }
            // Render the error
            $('#get-transactions-data').slideUp(function () {
              $(this).slideUp(function () {
                $(this).html(errorHtml).slideDown();
              });
            });
          } else {
            $('#get-transactions-data').slideUp(function () {
              var html = '';
              // data.transactions.forEach(function(txn, idx) {
              //   html += '<div class="inner">';
              //   html += '<strong>' + txn.name + '</strong><br>';
              //   html += '<strong>' + txn.category + '</strong><br>';
              //   html += '$' + txn.amount;
              //   html += '<br><em>' + txn.date + '</em>';
              //   html += '</div>';
              // });

              $(this).slideUp(function () {
                $(this).html(html).slideDown();
              });
            });
          }
        });
      });
    })(jQuery);
  </script>
</body>

</html>