<div class="jumbotron">
  <h1>Getting Started 
    <button (click)="doneWithTutorial()" class="btn btn-primary">Done</button>
  </h1>

  <div class="container">
    <div class="row">
      <div class="col-12 display-7">
        <ol>
          <li><strong>CREATE</strong> a google spreadsheet and make it public by changing who can have access.</li>
          <p><img class="normal-img" src="assets/img/getting-started/01.png"></p>
          <p><img class="normal-img" src="assets/img/getting-started/02.png"></p>
          <li><strong>INVITE&ensp;</strong><em>bank-me-bot@bank-me-dev.iam.gserviceaccount.com</em> as a user in your spreadsheet so that it can send your transactions to your sheet (with edit permission).</li>
          <p><img class="normal-img" src="assets/img/getting-started/03.png"></p>
          <li><strong>COPY</strong> the google sheet id from the url bar (it is the longest random string). This is how the program will target your sheet as the destination. Save it until prompted for it.</li>
          <p><img class="small-img" src="assets/img/getting-started/04.png"></p>
          <li><strong>CONNECT</strong> your bank account and export your transactions from as far back as 24 months.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
