<div class="first-time-card card">
  <div class="card-body text-center">
    <div class="row justify-content-center">
      <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-dark" (click)="addPlaidInfo()">Add Plaid API</button>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-dark" (click)="requestPlaidAccess()">Request Plaid Access</button>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-success" (click)="linkBankAccount()">Link Bank Account</button>
      </div>
    </div>
  </div>
</div>
