<app-navbar></app-navbar>
<div class="container-fluid">
  <app-getting-started *ngIf="!hasDoneTutorial" (isDoneWithTutorial)="saveHelpState($event)"></app-getting-started>

  <div *ngIf="!errorMessage">

    <div class="setup-ui" *ngIf="hasDoneTutorial && !hasPlaidAccess">
      <div class="card mx-auto">
        <div class="card-body">
          <h3 class="card-title header">You need to do a couple of things to get started</h3>
          <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <label>Your Google Sheet ID</label>
                <input type="text" required [(ngModel)]="sheetID" class="form-control">
                <label class="error" *ngIf="sheetIDError">{{sheetIDError}}</label>
                <label class="success" *ngIf="sheetIDSuccess">{{sheetIDSuccess}}</label>
              </div>
              <button class="btn btn-primary" (click)="saveSheetID()">Save Sheet ID</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-auto">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
              <button class="btn btn-success btn-block" (click)="linkBankAccount()">Link Bank Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="data-ui" *ngIf="hasDoneTutorial && hasPlaidAccess && accountDetails">
      <div class="row">
        <div class="card-wrapper col-xl-3 col-md-6 col-12" *ngFor="let account of accountDetails">
          <div class="card data-card d-flex">
            <div class="card-header">
              <strong class="card-title">{{account.name}}</strong>
            </div>
            <div class="card-info">
              <div class="row">
                <div class="col-9">
                  <h3 class="card-value">Avail: ${{account.balances.available}}</h3>
                  <p class="current card-value">Bal: ${{account.balances.current}}</p>
                </div>
                <div class="col-3">
                  <p class="mask card-value">x{{account.mask}}</p>
                  <p class="limit card-value" *ngIf="account.balances.limit">Limit: ${{account.balances.limit}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="card-wrapper col-xl-8 col-lg-10 col-12 mx-auto">
          <form class="calendar-form form-inline justify-content-center">
            <div class="form-group">
              <label>From:</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp-from" [(ngModel)]="fromDate" ngbDatepicker #dFrom="ngbDatepicker"
                  [maxDate]="maxDate" [minDate]="minDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="dFrom.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>To:</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp-to" [(ngModel)]="toDate" ngbDatepicker #dTo="ngbDatepicker"
                  [maxDate]="maxDate" [minDate]="minDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="dTo.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-success" (click)="getTransactions()">
                <i class="fa fa-download" aria-hidden="true"></i> Get Transactions
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="sk-cube-grid" *ngIf="isLoadingTransactions">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
          <div class="sk-cube sk-cube3"></div>
          <div class="sk-cube sk-cube4"></div>
          <div class="sk-cube sk-cube5"></div>
          <div class="sk-cube sk-cube6"></div>
          <div class="sk-cube sk-cube7"></div>
          <div class="sk-cube sk-cube8"></div>
          <div class="sk-cube sk-cube9"></div>
        </div>
        <div class="container-fluid" *ngIf="!isLoadingTransactions">
          <div class="col-xl-8 col-lg-9 col-md-10 col-12 mx-auto" *ngFor="let tx of transactionDetails">
            <div class="tx-card card">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-9 col-lg-8 col-md-8 col-8">
                    <h4 class="card-title">{{tx.name}} &nbsp;
                      <span class="badge badge-pill badge-secondary" *ngIf="tx.pending">Pending</span>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <i class="fa fa-calendar"></i> {{tx.date | amDateFormat:'LL'}}
                    </h6>
                    <span class="badge badge-pill badge-primary" *ngFor="let category of tx.category">{{category}}</span>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-4">
                    <h2 class="tx-amount card-title">{{tx.amount | currency}}</h2>
                    <button class="btn btn-primary" (click)="openTransaction(tx)">Open Transaction</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="error-ui" *ngIf="errorMessage">
    <h2 class="error">{{errorMessage}}</h2>
  </div>

</div>
<!-- /container -->
