<app-navbar></app-navbar>
<div class="container-fluid">
  <app-getting-started *ngIf="!hasDoneTutorial" (isDoneWithTutorial)="saveHelpState($event)"></app-getting-started>

  <div *ngIf="!errorMessage">

    <div class="setup-ui" *ngIf="hasDoneTutorial && !hasPlaidAccess">
      <div class="card mx-auto">
        <div class="card-body">
          <h3 class="card-title header">You need to do a couple of things to get started</h3>
          <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <label>Your Google Sheet ID</label>
                <input type="text" required [(ngModel)]="sheetID" class="form-control">
                <label class="error" *ngIf="sheetIDError">{{sheetIDError}}</label>
                <label class="success" *ngIf="sheetIDSuccess">{{sheetIDSuccess}}</label>
              </div>
              <button class="btn btn-primary" (click)="saveSheetID()">Save Sheet ID</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-auto">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
              <button class="btn btn-success btn-block" (click)="linkBankAccount()">Link Bank Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="data-ui" *ngIf="hasDoneTutorial && hasPlaidAccess && accountDetails">
      <div class="row">
        <div class="card-wrapper col-xl-3 col-md-6 col-12" *ngFor="let account of accountDetails">
          <div class="card data-card d-flex">
            <div class="card-header">
              <strong class="card-title">{{account.name}}</strong>
            </div>
            <div class="card-info">
              <div class="row">
                <div class="col-9">
                  <h3 class="card-value">Avail: ${{account.balances.available}}</h3>
                  <p class="current card-value">Bal: ${{account.balances.current}}</p>
                </div>
                <div class="col-3">
                  <p class="mask card-value">x{{account.mask}}</p>
                  <p class="limit card-value" *ngIf="account.balances.limit">Limit: ${{account.balances.limit}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-10 col-12 mx-auto">
          <ngb-datepicker class="mx-auto" #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" [maxDate]="maxDate"
            [minDate]="minDate" [startDate]="maxDate">
          </ngb-datepicker>
          <ng-template #t let-date="date" let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
              [class.faded]="isHovered(date) || isInside(date)" [class.disabled]="isNotInRange(date)"
              (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="error-ui" *ngIf="errorMessage">
    <h2 class="error">{{errorMessage}}</h2>
  </div>

</div>
<!-- /container -->
