@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";

@import '~ngx-toastr/toastr.css';
/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 56px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.error,
.success {
  font-weight: bold;
}

app-loader {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .add-plaid-info-modal .modal-dialog {
    max-width: 1000px;
  }
}

#toast-container > div {
  opacity:1;
  width: 700px;
}
